{% extends 'base.html' %}

{% block main %}

    <h1>Banco de horas</h1>
        {% for registro_he in object_list %}

        <a href="{% url 'registro_hora_extra:update' registro_he.id %}">
            {{ registro_he }}
        </a>

        <a href="{% url 'registro_hora_extra:delete' registro_he.id %}">
            Deletar
        </a>

    {% endfor %}

    {% if not object_list %}
        <h3>Não existe registro de hora extra no banco de dados</h3>
    {% endif %}

    <a href="{% url 'registro_hora_extra:create' %}" class="btn btn-info">
        Novo registro de hora extra
    </a> 

{% endblock main %}